/* http://kancelaria-babiak.pl/ */

body
{
	background-image: url("../img/foto_main.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.shell
{
	width: 55.15%;
	height: 384px;
	background-color: rgba(22, 25, 36, .6);
	float: right;
	position: relative;
}

.navbox
{
	position: absolute;
	width: 270px;
	height: 220px;
	background-color: white;
	bottom: 0;
	background-image: url("../img/box_menu.png");
	text-transform: uppercase;
	color: white;
	font-family: Roboto Slab,Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 13px;

}

.logo
{
	position: absolute;
	width: 270px;
	height: 164px;
	left: 270px;
	background-image: url("../img/logo.png");
}

.pin
{
	position: absolute;
	width: 49px;
	height: 47px;
	bottom: 0;
	left: 491px;
	background-image: url("../img/pin.png");

}

.navbox ul
{
	list-style-type: none;
	text-align: right;
	padding-top: 15px;
}

.navbox ul li
{
	padding-bottom: 18px;
}

.navbox ul li a
{
	color: white;
	text-decoration: none;
	padding-right: 20px;
	border-right: 4px solid rgba(0, 0, 0, .0);
}

.navbox ul li a:hover
{
	border-right: 4px solid #f17139;
	color: #f17139;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.container
{
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
	height: 1000px;
}

.col
{
	float: left;
	width: 25%;
}

.info
{
	float: left;
	width: 70%;
}

.sidebar
{
	float: left;
	width: 30%
}